.avatar-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  gap: var(--gap-0);
}
.avatar-icon:hover {
  display: flex;
  width: 100%;
  height: 100%;
  gap: var(--gap-0);
}
.avatar-w-addons {
  width: 48px;
  height: 48px;
  position: relative;
  display: flex;
  gap: var(--gap-0);
}
.avatar-w-addons:hover {
  display: flex;
  width: 48px;
  height: 48px;
  gap: var(--gap-0);
}
.avatar-w-addons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0px 0px;
  box-sizing: border-box;
  width: auto;
  align-self: unset;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}
.avatar-w-addons-wrapper:hover {
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: column;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  padding: var(--padding-12xs) 0px 0px;
  box-sizing: border-box;
}
.sufyan-ali {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
}
.sufyan-ali:hover {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  letter-spacing: -0.01em;
  line-height: 24px;
  text-align: left;
  color: var(--color-white);
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
}
.listen-again32 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-13xl);
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
}
.listen-again32:hover {
  font-weight: 700;
  font-family: var(--font-inter);
  font-size: var(--font-size-13xl);
  letter-spacing: -0.01em;
  line-height: 24px;
  text-align: left;
  color: var(--color-white);
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
}
.sufyan-ali-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  height: auto;
}
.sufyan-ali-parent:hover {
  display: flex;
  flex: 1;
  height: auto;
  flex-direction: column;
  gap: var(--gap-11xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.category-title {
  width: 278px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  height: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.category-title:hover {
  display: flex;
  width: 278px;
  height: auto;
  flex-direction: row;
  gap: var(--gap-xs);
  align-items: flex-start;
  justify-content: flex-start;
}
