.instance-child4 {
  height: 48px;
  width: 48px;
  position: relative;
  object-fit: cover;
  min-height: 48;
  display: flex;
}
.instance-child4:hover {
  display: flex;
  width: 48px;
  height: 48px;
  min-height: 48;
}
.looking-for-love4 {
  width: 116px;
  position: relative;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
  height: auto;
}
.looking-for-love4:hover {
  font-weight: 700;
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  letter-spacing: -0.01em;
  text-align: left;
  color: var(--color-white);
  display: flex;
  width: 116px;
  height: auto;
}
.listen-again12 {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  display: flex;
  min-width: 92;
  height: auto;
}
.listen-again12:hover {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  letter-spacing: -0.01em;
  text-align: left;
  color: var(--color-white);
  display: flex;
  flex: 1;
  height: auto;
  min-width: 92;
}
.frame-child6 {
  width: 6px;
  height: 6px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  display: flex;
}
.frame-child6:hover {
  background-color: var(--color-gainsboro);
  display: flex;
  width: 6px;
  height: 6px;
}
.ellipse-wrapper4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0px 0px;
  box-sizing: border-box;
  width: auto;
  align-self: unset;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}
.ellipse-wrapper4:hover {
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: column;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  padding: var(--padding-6xs-5) 0px 0px;
  box-sizing: border-box;
}
.listen-again-parent5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  width: auto;
  height: auto;
}
.listen-again-parent5:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: row;
  gap: var(--gap-9xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.looking-for-love-lee-dagger-d-parent2 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  width: auto;
  height: auto;
}
.looking-for-love-lee-dagger-d-parent2:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: column;
  gap: var(--gap-9xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper8 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0px 0px;
  box-sizing: border-box;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}
.frame-wrapper8:hover {
  display: flex;
  flex: 1;
  height: auto;
  flex-direction: column;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  padding: var(--padding-10xs) 0px 0px;
  box-sizing: border-box;
}
.rectangle-parent2 {
  width: 254px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  height: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.rectangle-parent2:hover {
  display: flex;
  width: 254px;
  height: auto;
  flex-direction: row;
  gap: var(--gap-5xs);
  align-items: flex-start;
  justify-content: flex-start;
}
