.instance-child {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: var(--br-231xl);
  object-fit: cover;
  display: flex;
}
.instance-child:hover {
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: var(--br-231xl);
}
.listen-again1 {
  position: relative;
  letter-spacing: -0.01em;
  display: flex;
  min-width: 96;
  font-weight: 700;
  width: auto;
  align-self: unset;
  height: auto;
}
.listen-again1:hover {
  font-weight: 700;
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  letter-spacing: -0.01em;
  text-align: left;
  color: var(--color-white);
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  min-width: 96;
}
.m-subscribers1 {
  position: relative;
  letter-spacing: -0.01em;
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
}
.m-subscribers1:hover {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  letter-spacing: -0.01em;
  text-align: left;
  color: var(--color-white);
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
}
.m-subscribers-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  align-self: unset;
  height: auto;
  gap: var(--gap-9xs);
}
.m-subscribers-container:hover {
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: row;
  gap: var(--gap-9xs);
  align-items: center;
  justify-content: center;
}
.listen-again-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-9xs);
  width: auto;
  align-self: unset;
  height: auto;
}
.listen-again-parent:hover {
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: column;
  gap: var(--gap-9xs);
  align-items: center;
  justify-content: center;
  padding: 0px var(--padding-xl);
  box-sizing: border-box;
}
.rectangle-parent {
  flex: 1;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  min-width: 80;
  height: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.rectangle-parent:hover {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  gap: var(--gap-5xs);
  align-items: center;
  justify-content: center;
  min-width: 80;
}
