.instance-child1 {
  height: 48px;
  width: 48px;
  position: relative;
  object-fit: cover;
  min-height: 48;
  display: flex;
}
.instance-child1:hover {
  display: flex;
  width: 48px;
  height: 48px;
  min-height: 48;
}
.looking-for-love1 {
  width: 141px;
  position: relative;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
  height: auto;
}
.looking-for-love1:hover {
  font-weight: 700;
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  letter-spacing: -0.01em;
  text-align: left;
  color: var(--color-white);
  display: flex;
  width: 141px;
  height: auto;
}
.listen-again6 {
  position: relative;
  letter-spacing: -0.01em;
  display: flex;
  min-width: 79;
  width: auto;
  align-self: unset;
  height: auto;
}
.listen-again6:hover {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  letter-spacing: -0.01em;
  text-align: left;
  color: var(--color-white);
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  min-width: 79;
}
.frame-child3 {
  width: 6px;
  height: 6px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  display: flex;
}
.frame-child3:hover {
  background-color: var(--color-gainsboro);
  display: flex;
  width: 6px;
  height: 6px;
}
.ellipse-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0px 0px;
  box-sizing: border-box;
  width: auto;
  align-self: unset;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}
.ellipse-wrapper1:hover {
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: column;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  padding: var(--padding-6xs-5) 0px 0px;
  box-sizing: border-box;
}
.listen-again7 {
  position: relative;
  letter-spacing: -0.01em;
  display: flex;
  min-width: 92;
  width: auto;
  align-self: unset;
  height: auto;
}
.listen-again7:hover {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  letter-spacing: -0.01em;
  text-align: left;
  color: var(--color-white);
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  min-width: 92;
}
.listen-again-parent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  width: auto;
  align-self: unset;
  height: auto;
}
.listen-again-parent2:hover {
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: row;
  gap: var(--gap-9xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.looking-for-love-lee-dagger-d-group {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-smi) 0px 0px;
  box-sizing: border-box;
  gap: var(--gap-9xs);
  width: auto;
  align-self: unset;
  height: auto;
}
.looking-for-love-lee-dagger-d-group:hover {
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: column;
  gap: var(--gap-9xs);
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-smi) 0px 0px;
  box-sizing: border-box;
}
.frame-wrapper5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0px 0px;
  box-sizing: border-box;
  width: auto;
  align-self: unset;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}
.frame-wrapper5:hover {
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: column;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  padding: var(--padding-10xs) 0px 0px;
  box-sizing: border-box;
}
.rectangle-container {
  position: relative;
  width: auto;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  align-self: unset;
  height: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.rectangle-container:hover {
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: row;
  gap: var(--gap-5xs);
  align-items: flex-start;
  justify-content: flex-start;
}
