.instance-child12 {
  height: 48px;
  width: 48px;
  position: relative;
  object-fit: cover;
  min-height: 48;
  display: flex;
}
.instance-child12:hover {
  display: flex;
  width: 48px;
  height: 48px;
  min-height: 48;
}
.looking-for-love12 {
  width: 171px;
  position: relative;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
  height: auto;
}
.looking-for-love12:hover {
  font-weight: 700;
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  letter-spacing: -0.01em;
  text-align: left;
  color: var(--color-white);
  display: flex;
  width: 171px;
  height: auto;
}
.listen-again28 {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  display: flex;
  min-width: 158;
  height: auto;
}
.listen-again28:hover {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  letter-spacing: -0.01em;
  text-align: left;
  color: var(--color-white);
  display: flex;
  flex: 1;
  height: auto;
  min-width: 158;
}
.frame-child14 {
  width: 6px;
  height: 6px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  display: flex;
}
.frame-child14:hover {
  background-color: var(--color-gainsboro);
  display: flex;
  width: 6px;
  height: 6px;
}
.ellipse-wrapper12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0px 0px;
  box-sizing: border-box;
  width: auto;
  align-self: unset;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}
.ellipse-wrapper12:hover {
  display: flex;
  width: auto;
  align-self: unset;
  height: auto;
  flex-direction: column;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  padding: var(--padding-6xs-5) 0px 0px;
  box-sizing: border-box;
}
.listen-again29 {
  height: auto;
  width: 92px;
  position: relative;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
}
.listen-again29:hover {
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  letter-spacing: -0.01em;
  text-align: left;
  color: var(--color-white);
  display: flex;
  width: 92px;
  height: auto;
}
.listen-again-parent13 {
  width: 359px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  max-width: 182%;
  flex-shrink: 0;
  height: auto;
}
.listen-again-parent13:hover {
  display: flex;
  width: 359px;
  height: auto;
  flex-direction: row;
  gap: var(--gap-9xs);
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 182%;
  flex-shrink: 0;
}
.looking-for-love-lee-dagger-d-parent10 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  width: auto;
  height: auto;
}
.looking-for-love-lee-dagger-d-parent10:hover {
  display: flex;
  align-self: stretch;
  width: auto;
  height: auto;
  flex-direction: column;
  gap: var(--gap-9xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper16 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0px 0px;
  box-sizing: border-box;
  height: auto;
  gap: var(--gap-0);
  transform: rotate(0deg);
}
.frame-wrapper16:hover {
  display: flex;
  flex: 1;
  height: auto;
  flex-direction: column;
  gap: var(--gap-0);
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(0deg);
  padding: var(--padding-10xs) 0px 0px;
  box-sizing: border-box;
}
.rectangle-parent10 {
  width: 254px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  height: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.rectangle-parent10:hover {
  display: flex;
  width: 254px;
  height: auto;
  flex-direction: row;
  gap: var(--gap-5xs);
  align-items: flex-start;
  justify-content: flex-start;
}
